@use '@/shared/styles' as *;

.field {
  width: 100%;
  @include flex-col(0.188rem, start, stretch, column);
}

.inputWrapper {
  width: 100%;
  position: relative;
  transition: all 0.35s ease-in-out 0s;

  @include input-wrapper-border($neutral-300);
  @include input-border-active($primary-500);
  @include input-disabled($neutral-200, $neutral-100);
}

.inputWrapper.error:focus-within + .label {
  color: $error-600;
}

.error {
  @include input-wrapper-border($error-600);
  @include input-border-active($error-600);
}

.label {
  @include text-body-sm;
  color: $neutral-700;
}

.slotStart {
  @include input-icon(left);
}

.errorIcon {
  color: $error-600;
}

.slotEnd {
  @include input-icon(right);
}

.divider {
  position: absolute;
  left: calc($space-8 + 1.25rem + $space-4);
  top: 50%;
  transform: translateY(-50%);
  width: 0.113rem;
  height: 1.313rem;
  background: $border-line;
  z-index: 2;
}

.search {
  box-shadow: $shadow-input-search;
  border-color: $neutral-200;
}

.errorText {
  color: $error-600;
  padding-block-start: 0.3rem;
  font-weight: $font-weight-medium;
}
