@use '@/shared/styles' as *;

.box {
  position: relative;
  padding: 1.25rem 1.625rem;
  width: 100%;
}

.title {
  line-height: $line-height-base;
  color: $neutral-700;
  font: {
    size: $body-lg-font-size;
    weight: $font-weight-semibold;
  }

  &::before {
    @include text-before-decoration(
      '',
      absolute,
      0,
      0.25rem,
      1.188rem,
      0 0.5rem 0.5rem 0,
      $primary-700,
      true
    );
  }
}
