@use '@/shared/styles' as *;

.loginFormMainWrapper {
  @include flex-col(3.625rem, start, stretch, column);

  @include respond(md) {
    gap: 1.5rem;
  }
}

.loginFormMain {
  @include flex-row(0, space-between, center);
}

.loginFormLink {
  line-height: 150%;
  color: $neutral-950;

  @include respond(sm) {
    font-size: $body-sm-font-size;
  }
}

.buttonWrapper {
  @include button-default-wrapper-size(8.188rem);
}
