@use '@/shared/styles' as *;

.grid {
  @include grid(18.125rem 1fr, auto auto, 'header header' 'sidebar content', 0);

  @include respond(lg) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    grid-template-areas:
      'header'
      'content';

    aside {
      display: none;
    }
  }
}

.main {
  width: 100%;
  max-width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
  grid-area: content;
  padding-block: 1.938rem 3.313rem;
  padding-inline: 1.875rem;
  @include flex-col(1rem, start, stretch, column);
  @include hide-scrollbar;

  @include respond(md) {
    padding-inline: 1rem;
  }
}
