@use '@/shared/styles' as *;

.subscription {
  width: 100%;
  @include flex-col(0, start, start, column);
  min-width: 0;
  flex: 1;
}

.content {
  @include flex-col($space-9, start, start, column);
  width: 100%;
  padding-inline: 1.25rem;
}

.professionalPlan {
  width: 100%;
}

.planContainer {
  @include flex(flex, row, space-between, start, 0);
  width: 100%;
  border-radius: $radius-lg;
  border: 0.094rem solid $neutral-300;
  padding: 1.375rem 1.875rem 1.584rem 1.531rem;
  box-shadow: $shadow-xs;
}

.planHeader,
.planContent {
  @include flex-col(0.7rem, start, start, column);
}

.planTitle {
  font: {
    size: $h6-font-size;
    weight: $font-weight-semibold;
  }
}

.planSubtitle {
  color: $neutral-700;
}

.planContent {
  align-items: end;
}

.planPrice {
  @include flex-row(0.2rem, flex-end, center);
}

.price {
  font: {
    size: $body-lg-font-size;
    weight: $font-weight-semibold;
  }
  color: $primary-700;
}

.priceDescription,
.planNextBilling {
  font-size: $body-sm-font-size;
}

.planNextBilling {
  color: $neutral-700;
}

.actions {
  width: 100%;
  @include flex(flex, row, start, center, $space-5);
}
