@use '../tokens/' as *;

@mixin container($name, $type: inline-size) {
  container-type: $type;
  container-name: $name;
}

@mixin fluid-type($min, $fluid, $max) {
  font-size: clamp($min, $fluid, $max);
}
