@use '../tokens' as *;

@mixin bounding-container($padding: 0) {
  width: 100%;
  max-width: 93rem;
  margin-inline: auto;
  padding: $padding;
}

@mixin circle($size, $background, $radius: 50%) {
  width: $size;
  height: $size;
  background: $background;
  border-radius: $radius;
}

@mixin widget-box($width: 100%, $maxWidth: none, $minHeight, $padding) {
  border: 0.125rem solid $border-subtle;
  border-radius: 1rem;
  width: $width;
  max-width: $maxWidth;
  min-height: $minHeight;
  box-shadow: $shadow-sm;
  background: $surface-primary;
  padding: $padding;
}

@mixin upload-item-base {
  width: 100%;
  max-width: 7rem;
  min-height: 6.625rem;
  padding: 0.188rem;
  background: $surface-tertiary;
  border-radius: 0.75rem;
  transition: all 0.2s ease-in-out;
}

@mixin square-circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin card-bottom-badge {
  width: 100%;
  max-width: 6.625rem;
  background: $surface-tertiary;
  border-radius: 0.5rem;
  padding: 0.188rem 0.313rem;
  box-shadow: $shadow-upload;
}

@mixin details-wrapper($bg-color: $surface-secondary, $padding) {
  width: 100%;
  max-width: 100%;
  min-height: 19.25rem;
  border-radius: 1rem;
  background: $bg-color;
  padding: $padding;
}

@mixin active-left-bar($color, $height) {
  position: relative;
  background: $bg-brand-subtle;

  &::before {
    position: absolute;
    content: '';
    width: 0.219rem;
    height: $height;
    left: 0;
    background: $color;
  }
}
