@use '@/shared/styles/tokens' as *;
@use '@/shared/styles/mixins' as *;

.overlay {
  position: fixed;
  inset: 0;
  z-index: $z-index-modal;
  background: $overlay-primary;
}

.modal {
  width: 100vw;
  min-height: 100dvh;
  @include flex-center;
}

.content {
  @include flex-col(1.75rem);
  padding: 2.5rem;
  border: {
    top: 0.188rem solid $primary-700;
    radius: 0.75rem;
  }
  width: 100%;
  max-width: 35.313rem;
  min-height: 24.813rem;
  background: $neutral-0;
  box-shadow: $shadow-not-found;
}

.header {
  @include flex(flex, row, space-between, center, 0);
}

.title {
  line-height: 150%;
  font: {
    weight: $font-weight-extrabold;
    size: $body-md-line-height;
  }
}

.button {
  width: 1.625rem;
  height: 1.625rem;
  background: transparent;
}
