@use '@/shared/styles' as *;

.toolbarActions {
  width: 100%;
  max-width: 43.875rem;

  @include flex(flex, row, space-between, center, 1rem);

  @include respond(xl) {
    max-width: 100%;
  }

  @include respond(sm) {
    flex-direction: column;
  }
}

.search {
  flex: 1 1 18.875rem;
  max-width: 18.875rem;

  @include respond(xl) {
    max-width: 100%;
  }

  @include respond(sm) {
    @include full-width-on-mobile;
  }
}

.platform {
  @include flex-center;
  flex: 1 1 11.563rem;
  max-width: 11.563rem;
  min-height: 3.375rem;
  padding: 1rem;

  white-space: nowrap;
  text-align: center;
  box-shadow: $shadow-not-found;
  background: $neutral-0;
  border-radius: $radius-lg;

  @include respond(sm) {
    @include full-width-on-mobile;
  }
}

.button {
  @include respond(sm) {
    @include full-width-on-mobile;
  }
}
