@use '@/shared/styles' as *;

.toolbarActions {
  width: 100%;
  @include flex(flex, row, end, center, 1rem);

  @include respond(sm) {
    flex-direction: column;

    .search,
    .platform,
    .buttonWrapper {
      flex: 1 1 100%;
      max-width: 100%;
      width: 100%;
    }
  }
}

.search {
  flex: 1 1 18.875rem;
  max-width: 18.875rem;
}

// TODO: Temporary mock these styles
.platform {
  @include flex-center;
  flex: 1 1 11.563rem;
  max-width: 11.563rem;
  white-space: nowrap;
  text-align: center;
  box-shadow: $shadow-not-found;
  background: $neutral-0;
  border-radius: $radius-lg;
  min-height: 3.375rem;
  padding: 1rem;
}
