@use '@/shared/styles' as *;

.scrollContainer {
  width: 100%;
  max-width: 50rem;
  @include menu-horizontal-scroll;
  box-shadow: $shadow-not-found;
  background: $neutral-0;
  border-radius: $radius-lg;
}

.list {
  width: 100%;
  @include flex-row(1rem, start, center);
  padding: 0.5rem;

  @include respond(2xl) {
    justify-content: space-between;
  }
}

.box {
  width: 100%;
  @include flex-center;
  padding: 0.406rem 1.625rem;
  border-radius: $radius-md;
  border: 0.063rem solid transparent;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  white-space: nowrap;
}

.label {
  color: $neutral-950;
  line-height: $line-height-base;

  font: {
    weight: $font-weight-regular;
    size: $body-lg-font-size;
  }
}

.active {
  border-color: $primary-700;
  box-shadow: $shadow-not-found;
}

.activeLabel {
  font-weight: $font-weight-semibold;
  color: $primary-700;
}
