@use '@/shared/styles' as *;

.sidebar {
  width: 17.5rem;
  min-height: 100%;
  border-right: 0.094rem solid $neutral-100;
  box-shadow: $shadow-xs;
  background: $neutral-0;
  grid-area: sidebar;
  position: fixed;

  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &.sidebarClosed {
    max-width: 5rem;
  }
}

.sidebarLogo {
  position: relative;
  width: 100%;
  @include flex-row(0.813rem, start, center);
  padding: 1.125rem 1rem;

  svg,
  img {
    flex-shrink: 0;
  }

  @include respond(lg) {
    display: none;
  }
}

.sidebarTitle {
  color: $neutral-950;
  line-height: 150%;
  font: {
    weight: $font-weight-semibold;
    size: $body-md-line-height;
  }

  white-space: nowrap;

  transition:
    opacity 0.2s ease,
    transform 0.2s ease,
    max-width 0.35s ease;
  opacity: 1;
}

.sidebarClosed .sidebarTitle {
  opacity: 0;
  max-width: 0;
  pointer-events: none;
  transform: translateX(-0.313rem);
}

.sidebarClosed .sidebarTitle {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-0.625rem);

  width: 0;
  margin: 0;
  overflow: hidden;
}

.button {
  position: absolute;
  color: $primary-200;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
}

.button.iconCollapsed {
  top: 5rem;
  right: 1.7rem;
}

.content {
  min-height: 100dvh;
  @include flex-col(3.063rem, start, stretch, column);
  padding: 1.938rem 1rem 0 1rem;

  @include respond(lg) {
    display: none;
  }
}

.item {
  @include flex-row($space-3);

  padding: 0.813rem 1.688rem 0.875rem 0.75rem;
  border: 0.125rem solid transparent;

  color: $neutral-700;
  min-width: 0;
  cursor: pointer;

  transition:
    padding 250ms ease,
    justify-content 250ms ease,
    border-color 250ms ease,
    color 250ms ease;

  svg {
    flex-shrink: 0;
  }
}

.sidebarClosed .item {
  padding-inline: 0.6rem;
  pointer-events: none;
}

.label {
  display: block;
  font-size: $body-lg-font-size;
  font-weight: $font-weight-regular;
  color: inherit;
  opacity: 1;
  transform: translateX(0);
  white-space: nowrap;
  width: 100%;

  transition:
    opacity 180ms ease,
    transform 250ms ease,
    max-width 300ms ease;
}

.sidebarClosed .label {
  max-width: 0;
  opacity: 0;
  transform: translateX(-0.375rem);
}

.active {
  position: relative;
  border: 0.125rem solid $primary-700;
  color: $primary-700;
  border-radius: 0.5rem;

  transition:
    border-color 250ms ease,
    color 250ms ease;

  .label {
    font-weight: $font-weight-semibold;
  }

  &::after {
    @include button-background-overlay(
      '',
      absolute,
      0,
      $primary-700,
      0.05,
      inherit,
      none
    );
  }

  &::before {
    opacity: 1;
    transition:
      opacity 200ms ease,
      transform 200ms ease;
  }
}
