@use '@/shared/styles/tokens' as *;
@use '@/shared/styles/mixins' as *;

.cardsWrapper {
  width: 100%;
}

.cards {
  @include responsive-grid(18rem, 1.875rem);
}

.card {
  position: relative;
  border-radius: 1rem;
  box-shadow: $shadow-elevation-2;
  background: $neutral-0;
  border: 0.125rem solid $neutral-200;
  padding: 1.25rem 1.375rem;
  background:
    $gradient-overlay-secondary top / 100% 6rem no-repeat,
    $neutral-0;

  &::before {
    @include text-before-decoration(
      '',
      absolute,
      0,
      0.25rem,
      1.188rem,
      0 0.5rem 0.5rem 0,
      $primary-700
    );
  }
}
