@use '@/shared/styles' as *;

.container {
  position: relative;
  display: inline-flex;
  width: fit-content;
}

.trigger {
  display: inline-flex;
}

.tooltip {
  width: max-content;
  position: absolute;
  z-index: $z-tooltip;
  padding: 1rem;
  color: $neutral-400;

  border-radius: $radius-lg;
  background: $neutral-100;
  box-shadow: $shadow-sharp;

  @include tooltip-hidden;
}

.arrow {
  position: absolute;
  width: 0.625rem;
  height: 0.625rem;
  background: $neutral-100;
}

@include tooltip-hover('.container', '.tooltip');

.tooltip[data-position='top'] {
  @include tooltip-position(top);
}

.tooltip[data-position='bottom'] {
  @include tooltip-position(bottom);
}

.tooltip[data-position='left'] {
  @include tooltip-position(left);
}

.tooltip[data-position='right'] {
  @include tooltip-position(right);
}

.tooltip[data-position='top'] .arrow {
  @include arrow-position(top);
}

.tooltip[data-position='bottom'] .arrow {
  @include arrow-position(bottom);
}

.tooltip[data-position='left'] .arrow {
  @include arrow-position(left);
}

.tooltip[data-position='right'] .arrow {
  @include arrow-position(right);
}
