@use '@/shared/styles' as *;

.textarea {
  width: 100%;
  max-width: 100%;
  border: 0.094rem solid $neutral-300;
  border-radius: 1rem;
  min-height: 8rem;
  padding: 1rem 1.125rem;
  caret-color: $neutral-600;
  color: $neutral-600;
  border: none;
  outline: none;
  resize: none;

  @include input-wrapper-border($neutral-300);
  @include input-border-active($primary-500);

  &::placeholder {
    color: $neutral-600;
  }
}

.reasonLabel {
  line-height: 150%;
  font-size: $body-sm-font-size;
  color: $neutral-700;
}

.actions {
  @include flex-center;
  gap: 1.25rem;

  @include respond(sm) {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.cancel,
.save {
  border-radius: 1.875rem;
  max-width: 8.813rem;
  min-height: 3.375rem;
  font-weight: $font-weight-semibold;

  &:hover {
    background: none;
  }

  @include respond(sm) {
    max-width: 100%;
  }
}
