@use "@/shared/styles/tokens/typography" as size;
@use "@/shared/styles/tokens/colors" as color;
@use "@/shared/styles/tokens/spacing" as spacing;
@use "@/shared/styles/tokens/mixins" as *;

/* Basic */

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.313rem;
}

.inputWrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  border: 0.125rem solid color.$color-black-400;
  transition: all 0.35s ease-in-out 0s;

  @include input-border-active(color.$color-primary-600);
  @include input-disabled(color.$color-black-300, color.$color-black-200);
}

.input {
  flex: 1;
  width: 100%;
  min-width: 0;
  padding-block: spacing.$space-6;
  padding-inline-end: 0;
  border: none;
  outline: none;
  background: transparent;
  line-height: 150%;
}

.withIcon {
  padding-inline-start: 3.5rem;
}

/* Variants */

.primary .input {
  color: color.$color-black-700;
  caret-color: color.$color-black-700;
}

.typing .input {
  color: color.$color-black-1100;
  caret-color: color.$color-black-1100;
}

.typing .input::placeholder {
  color: color.$color-black-1100;
}

/* Icons */

.startIcon {
  @include input-icon(left);
}

.endIcon {
  @include input-icon(right);
}

.typing .iconWrapper {
  color: color.$color-black-1100;
}

.separator {
  position: absolute;
  left: calc(spacing.$space-8 + 1.25rem + spacing.$space-4);
  top: 50%;
  transform: translateY(-50%);
  width: 0.113rem;
  height: 1.313rem;
  background: color.$color-border-line;
  z-index: 2;
}

.label {
  @include text-body-sm;
  color: color.$color-black-800;
}
