@use '@/shared/styles/tokens' as *;

.input {
  width: 100%;
  padding-block: $space-6;
  padding-inline-end: 0;
  padding-inline-start: $space-13;
  border: none;
  outline: none;
  background: transparent;
  line-height: 150%;
}

.withIcon {
  padding-inline-start: 3.5rem;
}
