@use '@shared/styles' as *;

.wrapper {
  width: 100%;

  @include flex-col(0.188rem, start, stretch, column);
}

.label {
  line-height: $line-height-base;
  font-size: $body-sm-font-size;
  color: $text-secondary;
}

.textarea {
  width: 100%;
  max-width: 100%;
  border: none;
  outline: none;
  resize: none;
  @include smooth-transition(all, 0.35s, ease-in-out, 0s);

  &::placeholder {
    color: $text-muted;
  }

  &.small {
    // small
  }

  &.medium {
    min-height: 8rem;
  }

  &.large {
    // large
  }
}

.default {
  min-height: 5.75rem;
  padding: 1rem 1.125rem;
  caret-color: $text-secondary;
  font-size: $body-md-font-size;

  @include input-wrapper-border($border-default);
  @include input-border-active($border-focus);

  @include respond(sm) {
    font-size: $body-sm-font-size;
  }
}

.errorLabel {
  @include error-color;
}

.error {
  @include input-wrapper-border($icon-danger);
  @include input-border-active($icon-danger);
}
