@use '@/shared/styles' as *;

.wrapper {
  @include widget-box(100%, 57.813rem, 100%, $padding: 0.5rem);
  @include flex-col(1.5rem, space-between, stretch, column);

  padding-block-end: 1.875rem;
  border: none;

  @include respond(lg) {
    max-width: 100%;
  }
}

.createForm {
  @include flex-col($space-6, flex-start, flex-start);
  padding-inline: 1.375rem;

  @include respond(md) {
    padding-inline: $space-4;
  }

  @include respond(sm) {
    padding-inline: $space-3;
  }
}

.header {
  width: 100%;
  background: $bg-brand-subtle;
  border-radius: $radius-md;
  padding: 0.688rem 0 0.625rem 0.813rem;
}

.title {
  @include title-bold($font-weight-semibold, $body-lg-font-size, $text-secondary);
}

.form {
  @include flex-col(1.5rem, start, stretch, column);
  padding-inline: 1.375rem;
  padding-block-end: 1.875rem;

  @include respond(sm) {
    padding-inline: 1rem;
  }
}

.row {
  width: 100%;
  @include flex(flex, row, start, start, 1.5rem);

  @include respond(sm) {
    @include flex-col(1.5rem, start, stretch, column);
  }
}

.textarea {
  width: 100%;
  max-width: 100%;
  min-height: 5.75rem;
  padding: 1rem 1.125rem;
  caret-color: $text-secondary;
  color: $text-secondary;
  resize: none;
  border: none;
  outline: none;
  transition: all 0.35s ease-in-out 0s;
  font-size: $body-md-font-size;

  @include respond(sm) {
    font-size: $body-sm-font-size;
  }

  @include input-wrapper-border($border-default);
  @include input-border-active($border-focus);

  &::placeholder {
    color: $text-muted;
  }
}

.errorTextarea {
  @include input-wrapper-border($icon-danger);
  @include input-border-active($icon-danger);
}

.descriptionLabel {
  line-height: $line-height-base;
  font-size: $body-sm-font-size;
  color: $text-secondary;
}

.errorLabel {
  @include error-color;
}
