@use '@/shared/styles' as *;

.content {
  width: 100%;
  height: 100%;
  background: $neutral-0;
  box-shadow: $shadow-sm;
  border-radius: 1rem;
}

.projects {
  @include flex-col(1.875rem, start, stretch, column);
  min-height: 100%;
}
