@use '@/shared/styles' as *;

.hiddenInput {
  display: none;
}

.mainWrapper {
  @include flex-center;
  @include input-wrapper-border($neutral-300);
  gap: 0.75rem;
  width: 100%;
  min-height: 8rem;
  cursor: pointer;
}

.iconContainer {
  @include square-circle(2.5rem);
  @include flex-center;
  background: $upload-primary;
}

.pdfType {
  background: $error-200;
}
.photoType {
  background: $upload-primary;
}

.filesGrid {
  width: 100%;
  padding-inline: 0.625rem;
  @include flex-row(0.75rem, flex-start, center);
}

.uploadCard {
  @include upload-item-base;
  @include flex-col(0.938rem, center, center, column);
}

.fileCard {
  @include upload-item-base;
  @include flex-col(0.938rem, space-between, center, column);
  position: relative;
}

.emptyStateTrigger {
  @include flex-center;
  gap: 0.75rem;
}

.removeButton {
  @include square-circle(1.125rem);
  position: absolute;
  top: -0.4rem;
  right: -0.25rem;
  background: $neutral-200;
  border: 0.094rem solid $neutral-0;
  z-index: 10;
}

.fileIconWrapper {
  @include square-circle(2.5rem);
  @include flex-center;
  position: relative;
  top: 1.2rem;
  border-radius: 0.563rem;
}

.fileNameBadge {
  @include card-bottom-badge;
  @include text-ellipsis;
}

.fileNameText {
  font-size: $caption-sm-font-size;
  line-height: 154%;
  color: $neutral-950;
}
