@use '@/shared/styles' as *;

.toolbar {
  flex: 1 1 auto;
  justify-content: flex-end;
  min-width: 0;
  @include flex(flex, row, end, center, 1rem, nowrap);

  @include respond(desktop) {
    justify-content: flex-start;
    width: 100%;
  }
}

.search {
  width: 100%;
  max-width: 18.875rem;
}
