@use '@/shared/styles' as *;

.toolbar {
  @include flex(flex, row, space-between, center, 1rem, nowrap);
}

.toolbarActions {
  @include flex(flex, row, end, center, 1rem);
}

.scrollContainer {
  @include menu-horizontal-scroll;
  box-shadow: $shadow-not-found;
  background: $neutral-0;
  border-radius: 1rem;
}

.list {
  @include flex-row(1rem, start, center);
  padding: 0.5rem;
}

.search {
  flex: 0 0 18.875rem;
  min-width: 18.875rem;

  @include respond(2xl) {
    flex: 1 1 auto;
    min-width: 0;
    max-width: 100%;
  }

  @include respond(sm) {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }
}

// TODO: Temporary mock these styles
.platform {
  @include flex-center;
  flex: 0 0 11.563rem;
  min-width: 11.563rem;
  white-space: nowrap;
  text-align: center;
  box-shadow: $shadow-not-found;
  background: $neutral-0;
  border-radius: 1rem;
  min-height: 3.375rem;
  padding: 1rem;

  @include respond(2xl) {
    flex: 1 1 auto;
    min-width: 0;
  }

  @include respond(sm) {
    flex: 0 0 auto;

    width: 100%;
  }
}

.buttonWrapper {
  @include button-default-wrapper-size(11.438rem);
  flex: 0 0 11.438rem;

  @include respond(2xl) {
    flex: 1 1 auto;
    min-width: 0;

    & > button {
      width: 100%;
    }
  }

  @include respond(sm) {
    flex: 0 0 auto;
    max-width: 100%;

    & > button {
      width: 100%;
    }
  }
}

.box {
  width: 100%;
  @include flex-center;
  padding: 0.406rem 1.625rem;
  border-radius: 0.75rem;
  border: 0.125rem solid transparent;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  white-space: nowrap;
}

.label {
  color: $neutral-950;
  line-height: 150%;

  font: {
    weight: $font-weight-regular;
    size: $body-lg-font-size;
  }
}

.active {
  border-color: $primary-700;
  box-shadow: $shadow-not-found;
}

.activeLabel {
  font-weight: $font-weight-semibold;
  color: $primary-700;
}
