@use '@/shared/styles' as *;

.firstName {
  grid-area: firstName;
}

.lastName {
  grid-area: lastName;
}

.email {
  grid-area: email;
}

.birthDate {
  grid-area: birthDate;
}

.contact {
  grid-area: contact;
}
