@use '@/shared/styles/tokens' as *;
@use '@/shared/styles/mixins' as *;

.container {
  @include flex(flex, row, space-between, center, 0);
}

.meta {
  @include flex-row(0.438rem, center, center);
}

.heading {
  position: relative;
  left: 1rem;

  @include title-bold($font-weight-semibold, $font-size-subtitle, $neutral-950);

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -1rem;
    transform: translateY(-50%);

    @include circle(0.5rem, $gradient-brand);
  }
}

.metaLabel {
  @include title-bold($font-weight-semibold, $font-size-body-lg, $neutral-950);
}

.metaValue {
  @include title-bold($font-weight-regular, $font-size-body-lg, $neutral-700, 0.62);
}
