@use '@/shared/styles' as *;

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  grid-template-areas:
    'firstName lastName'
    'email email'
    'birthDate contact'
    'submit submit';
}

.save {
  grid-area: submit;
  justify-self: start;
}
