@use '@/shared/styles' as s;

.card {
  @include s.flex-col(0, start, stretch);
}

.label {
  font: {
    weight: s.$font-weight-semibold;
    size: s.$font-size-body-lg;
  }

  color: s.$color-black-800;
  min-height: 2.125rem;
}

.cardMain {
  width: fit-content;
  @include s.flex-col(0, start, stretch);
}

.value {
  font: {
    weight: s.$font-weight-bold;
    size: s.$line-height-body-md;
  }

  line-height: 150%;
}

.cardFooter {
  @include s.flex-row(0.375rem, start, center);
}

.name {
  color: s.$color-black-800;
  font-size: s.$font-size-body-sm;
  line-height: 150%;
}

.trend {
  @include s.flex-center;
  border-radius: 0.625rem;
  padding: 0.125rem 0.438rem;
  font-size: s.$font-size-caption-lg;
}

.success {
  @include s.trend-state(
    0.025rem solid s.$color-success-800,
    s.$color-success-200,
    s.$color-success-800
  );
}

.error {
  @include s.trend-state(0.025rem solid s.$color-error-800, s.$color-error-200, s.$color-error-800);
}
