@use '@/shared/styles' as *;

.wrapper {
  @include responsive-grid-widgets(repeat(2, 1fr), 1.5rem);
  @include widget-box(100%, 100%, 100%, 1.5rem);

  @include respond(xl) {
    grid-template-columns: 1fr;
  }

  @include respond(sm) {
    padding: 1rem;
  }
}

.details,
.description {
  max-width: 100%;
  @include details-wrapper($padding: 1rem);
  @include flex-col(0, start, start, column);
}

.details {
  gap: 1.125rem;
}

.description {
  gap: 1rem;
}

.title {
  @include card-title;

  &::before {
    @include text-before-decoration(
      '',
      absolute,
      -1rem,
      0.25rem,
      1.125rem,
      0 0.5rem 0.5rem 0,
      $primary-700,
      true
    );
  }
}
