@use '@/shared/styles/tokens/colors' as color;
@use '@/shared/styles/tokens/typography' as size;
@use '@/shared/styles/tokens/spacing' as spacing;
@use '@/shared/styles/tokens/shadows' as shadow;
@use '@/shared/styles/tokens/mixins' as *;
@use '@/shared/styles/tokens/flex' as *;

.grid {
  display: grid;
  grid-template-columns: 18.125rem 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header header'
    'sidebar content';
  gap: 0;

  @include respond(laptop) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'content';
  }
}

.header {
  width: 100%;
  border-bottom: 0.094rem solid color.$color-black-200;
  box-shadow: shadow.$shadow-elevation-1;
  grid-area: header;
}

.wrapper {
  width: 100%;
  @include flex(flex, row, start, center);
  padding: 1.125rem 1rem;

  @include respond(laptop) {
    gap: 2rem;
  }
}

.content {
  grid-area: content;
  padding-inline: 1.875rem;
}

.headerLeftSide {
  width: 100%;
  max-width: 18.125rem;
  @include flex-row(0.813rem, start, center);

  @include respond(laptop) {
    max-width: fit-content;
  }
}

.logoTitle {
  color: color.$color-black-1200;
  line-height: 150%;
  font: {
    weight: size.$font-weight-semibold;
    size: size.$line-height-body-md;
  }
}

.headerRightSide {
  width: 100%;
  @include flex(flex, row, space-between, center);
  padding-inline: 0.875rem;
}

.title {
  font: {
    size: size.$font-size-h6;
    weight: size.$font-weight-bold;
  }
  line-height: 150%;
}

.button {
  position: relative;

  &::after {
    @include button-background-overlay(
      '',
      absolute,
      0,
      color.$color-primary-800,
      0.05,
      inherit,
      none
    );
  }
}

.endIcon {
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  top: 0;
  right: 0;

  transform: translate(25%, -40%);
}

.headerAuth {
  @include flex-center;
  gap: spacing.$space-9;
}

/* Styles Mock: [Temporary mock these styles] */
.authAvatar {
  @include flex-center;
  width: 3rem;
  height: 3rem;
  background: color.$color-primary-300;
  color: color.$color-white;
  border-radius: 100%;
}

.cardsWrapper {
  width: 100%;
  padding-block-start: 1.938rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(18rem, 100%), 1fr));
  gap: 1.875rem;
}

.card {
  position: relative;
  border-radius: 1rem;
  box-shadow: shadow.$shadow-elevation-2;
  background: color.$color-white;
  border: 0.125rem solid color.$color-black-300;
  padding: 1.25rem 1.375rem;
  background:
    color.$linear-gradient-200 top / 100% 6rem no-repeat,
    color.$color-white;

  &::before {
    @include text-before-decoration(
      '',
      absolute,
      0,
      0.25rem,
      1.188rem,
      0 0.5rem 0.5rem 0,
      color.$color-primary-800
    );
  }
}
