@use '@/shared/styles' as s;

.analyticsWrapper {
  @include s.responsive-grid-widgets(2.45fr 1fr 1fr, 1.875rem);

  @include s.respond(wide) {
    @include s.responsive-grid-widgets(2fr 1fr, 1.875rem);
  }

  @include s.respond(desktop) {
    @include s.responsive-grid-widgets(1fr, 1.875rem);
  }
}

.primary,
.secondary,
.tertiary {
  @include s.widget-box;
  @include s.flex-col(0, start, stretch);
}

.primary {
  gap: 1.625rem;
}

.analyticsHeader {
  position: relative;
  @include s.flex(flex, row, start, center, 0, none);
  padding: 0.688rem 0.5rem 0.688rem 1.25rem;
  border-radius: 0.75rem;
  background: s.$color-black-200;
}

.analyticsTitle {
  line-height: 150%;
  color: s.$color-black-800;
  font: {
    size: s.$font-size-body-lg;
    weight: s.$font-weight-semibold;
  }

  &::before {
    @include s.text-before-decoration(
      '',
      absolute,
      0,
      0.25rem,
      1.125rem,
      0 0.5rem 0.5rem 0,
      s.$color-primary-800,
      true
    );
  }
}
