@use '@/shared/styles' as *;

.switchList {
  @include flex-col(1.25rem, start, stretch, column);
  padding: 0 1.625rem 1.25rem 1.25rem;
}

.switch {
  @include flex(flex, row, space-between, center, 0);
  padding: 1rem 1.25rem;
  border-radius: $radius-lg;
  border: 0.125rem solid $neutral-200;
}

.switchContainer {
  @include flex(flex, row, space-between, center, $space-3);
}

.switchIcon {
  @include flex-center;
  width: 3.125rem;
  height: 3.125rem;
  background: $neutral-200;
  border-radius: $radius-full;
}

.switchInfo {
  @include flex(flex, column, flex-start, start, 0);
}

.switchTitle {
  @include title-bold($font-weight-semibold, $body-md-font-size, $neutral-950);
}

.switchSubtitle {
  @include text-body-sm($neutral-700);
}
