/* Shadows elevation */

$shadow-elevation-1: 0 4px 10px rgba(0, 0, 0, 0.04);
$shadow-elevation-2: 0 2px 13px rgba(0, 0, 0, 0.07);
$shadow-elevation-3: 0 0px 9px rgba(0, 0, 0, 0.11);
$shadow-elevation-4: 0 4px 13px rgba(0, 0, 0, 0.11);
$shadow-elevation-5: 0 0px 24px rgba(0, 0, 0, 0.17);

/* Shadows floating / sharp */

$shadow-floating-top: 0 -4px 10px rgba(0, 0, 0, 0.14);
$shadow-floating-diagonal: 4px -4px 16px rgba(0, 0, 0, 0.09);
$shadow-sharp: 4px 4px 4px rgba(0, 0, 0, 0.15);
