/* Font weights */

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

/* Headings */

$font-size-h1: 54px;
$line-height-h1: 81px;

$font-size-h2: 50px;
$line-height-h2: 75px;

$font-size-h3: 40px;
$line-height-h3: 60px;

$font-size-h4: 36px;
$line-height-h4: 54px;

$font-size-h5: 30px;
$line-height-h5: 45px;

$font-size-h6: 24px;
$line-height-h6: 36px;

/* Subtitles */

$font-size-subtitle: 20px;
$line-height-subtitle: 30px;

/* Body text */

$font-size-body-lg: 18px;
$line-height-body-lg: 27px;

$font-size-body-md: 16px;
$line-height-body-md: 24px;

$font-size-body-sm: 14px;
$line-height-body-sm: 21px;

/* Caption */

$font-size-caption-lg: 13px;
$line-height-caption-lg: 20px;

$font-size-caption-md: 12px;
$line-height-caption-md: 18px;
