@use '@/shared/styles' as *;

.headerToolbar {
  width: 100%;
  min-width: 0;
  @include flex(flex, row, space-between, center, 1rem, nowrap);

  @include respond(desktop) {
    @include flex-col(1rem, stretch);
  }
}

.toolbar {
  flex: 1 1 auto;
  justify-content: flex-end;
  min-width: 0;
  @include flex(flex, row, end, center, 1rem, nowrap);

  @include respond(desktop) {
    justify-content: flex-start;
    width: 100%;
  }
}

.scrollContainer {
  flex: 0 1 auto;
  width: auto;
  max-width: 100%;
  @include menu-horizontal-scroll;

  box-shadow: $shadow-not-found;
  background: $color-white;
  padding: 0.5rem;
  border-radius: 1rem;

  @include respond(desktop) {
    order: 2;
    width: 100%;
    margin-top: 0.5rem;
  }
}

.list {
  @include flex-row(1rem, start, center);
  width: 100%;
  min-width: max-content;

  @include respond(desktop) {
    max-width: 100%;
    justify-content: space-between;
  }
}

.box {
  @include flex-center;
  flex-shrink: 0;
  padding: 0.406rem 1.563rem;
  border-radius: 0.75rem;
  border: 0.125rem solid transparent;
  scroll-snap-align: start;
  scroll-snap-stop: always;

  @include respond(wide) {
    padding-inline: 0.7rem;
  }
}

.label {
  color: $color-black-1200;

  font: {
    weight: $font-weight-regular;
    size: $font-size-body-lg;
  }
}

.active {
  border-color: $color-primary-800;
  box-shadow: $shadow-not-found;
}

.activeLabel {
  font-weight: $font-weight-semibold;
  color: $color-primary-800;
}

.button {
  background: transparent;
}

.content {
  width: 100%;
  height: 100%;
  background: $color-white;
  box-shadow: $shadow-elevation-2;
  border-radius: 1rem;
}

.search {
  width: 100%;
  max-width: 18.875rem;
}

.textarea {
  width: 100%;
  max-width: 100%;
  border: 0.094rem solid $color-black-400;
  border-radius: 1rem;
  min-height: 8rem;
  padding: 1rem 1.125rem;
  caret-color: $color-black-700;
  color: $color-black-700;
  resize: none;

  &::placeholder {
    color: $color-black-700;
  }

  &:focus {
    outline: none;
    border-color: $color-black-400;
  }
}

.reasonLabel {
  line-height: 150%;
  font-size: $font-size-body-sm;
  color: $color-black-800;
}

.actions {
  @include flex-center;
  gap: 1.25rem;
}

.cancel,
.save {
  border-radius: 1.875rem;
  max-width: 8.813rem;
  min-height: 3.375rem;
  font-weight: $font-weight-semibold;
}
