@use '@/shared/styles' as s;

.layout {
  min-height: 100dvh;
  @include s.flex-center;
  padding: 2rem;

  @include s.respond(laptop) {
    padding: 1rem;
  }
}

.container {
  @include s.bounding-container;
  place-items: center;
  min-height: 90dvh;
  background: s.$color-white;
  border-top: 3px solid s.$color-primary-800;
  box-shadow: s.$shadow-not-found;
  border-radius: 1.875rem;

  @include s.respond(laptop) {
    @include s.flex-col(3rem, center, center);
  }
}

.errorBlock {
  @include s.flex-col(2rem, center, stretch);
}
