@use '@/shared/styles' as *;

.loginFormMainWrapper {
  width: 100%;
  @include flex-col(3.625rem, start, start, column);

  @include respond(md) {
    gap: 1.5rem;
  }
}

.loginFormMain {
  width: 100%;
  @include flex-between;
}

.loginButton {
  line-height: $line-height-base;
  color: $neutral-950;

  @include respond(sm) {
    font-size: $body-sm-font-size;
  }
}

.button {
  @include button-default-wrapper-size(8.188rem);
}
