@use '@/shared/styles/tokens' as *;
@use '@/shared/styles/mixins' as *;

.headerToolbar {
  width: 100%;
  min-width: 0;
  @include flex(flex, row, space-between, center, 1rem, nowrap);

  @include respond(xl) {
    @include flex-col(1rem, stretch);
  }
}

.button {
  background: transparent;
}

.content {
  width: 100%;
  height: 100%;
  background: $neutral-0;
  box-shadow: $shadow-elevation-2;
  border-radius: 1rem;
}
