@use '@/shared/styles' as s;

.banner {
  position: relative;
  overflow: hidden;
  height: calc(100dvh - 3rem);

  background: {
    image: url('/images/login/images/primary-banner.svg');
    size: cover;
    position: right;
    repeat: no-repeat;
  }

  border-radius: 1.875rem;
  padding: 1.875rem;

  &::after {
    @include s.overlay(1.875rem, s.$linear-gradient-100);
    z-index: 0;
  }

  > * {
    @include s.overlay-content;
  }

  @include s.respond(desktop) {
    background-position: 20%;
  }

  @include s.respond(laptop) {
    background-position: top;
    max-height: 45dvh;
  }

  @include s.respond(mobile-lg) {
    padding: 1rem;
  }
}

.header {
  @include s.overlay-content;
  width: fit-content;

  @include s.flex-row(1.375rem, start, center);

  @include s.respond(mobile-lg) {
    gap: 1rem;
  }
}

.title {
  font-weight: s.$font-weight-semibold;
  line-height: 150%;
  font-size: s.$font-size-h4;

  @include s.respond(mobile-lg) {
    font-size: s.$font-size-h5;
  }
}

.subtitle {
  @include s.bottom-overlay(1.875rem);
  width: 100%;
  max-width: 33rem;
  line-height: 150%;
  font-weight: s.$font-weight-bold;
  color: s.$color-white;
  font-size: s.$font-size-h5;

  @include s.respond(tablet) {
    font-size: s.$font-size-h6;
  }

  @include s.respond(mobile-lg) {
    font-size: s.$font-size-subtitle;
  }
}
