@use '@/shared/styles/tokens' as *;
@use '@/shared/styles/mixins' as *;

.field {
  @include flex-col(0.188rem);
}

.inputWrapper {
  width: 100%;
  position: relative;
  border-radius: 1rem;
  border: 0.063rem solid $neutral-300;
  transition: all 0.35s ease-in-out 0s;

  @include input-border-active($primary-500);
  @include input-disabled($neutral-200, $neutral-100);
}

.label {
  @include text-body-sm;
  color: $neutral-700;
}

.slotStart {
  @include input-icon(left);
}

.slotEnd {
  @include input-icon(right);
}

.divider {
  position: absolute;
  left: calc($space-8 + 1.25rem + $space-4);
  top: 50%;
  transform: translateY(-50%);
  width: 0.113rem;
  height: 1.313rem;
  background: $border-line;
  z-index: 2;
}

.search {
  box-shadow: $shadow-input-search;
  border-color: $neutral-200;
}
