@use '@/shared/styles' as *;

.field {
  @include flex-col(0.188rem);
}

.inputWrapper {
  width: 100%;
  position: relative;
  border-radius: 1rem;
  border: 0.063rem solid $color-black-400;
  transition: all 0.35s ease-in-out 0s;

  @include input-border-active($color-primary-600);
  @include input-disabled($color-black-300, $color-black-200);
}

.label {
  @include text-body-sm;
  color: $color-black-800;
}

.slotStart {
  @include input-icon(left);
}

.slotEnd {
  @include input-icon(right);
}

.divider {
  position: absolute;
  left: calc($space-8 + 1.25rem + $space-4);
  top: 50%;
  transform: translateY(-50%);
  width: 0.113rem;
  height: 1.313rem;
  background: $color-border-line;
  z-index: 2;
}

/* Variants */

.search {
  box-shadow: $shadow-input-search;
  border-color: $color-black-300;
}
