@use '@/shared/styles' as *;

.banner {
  position: relative;
  overflow: hidden;
  height: calc(100dvh - 3rem);

  background: {
    image: url('/images/login/images/primary-banner.svg');
    size: cover;
    position: right;
    repeat: no-repeat;
  }

  border-radius: $radius-2xl;
  padding: 1.875rem;

  &::after {
    @include overlay(1.875rem, $gradient-overlay-primary);
    z-index: 0;
  }

  > * {
    @include overlay-content;
  }

  @include respond(xl) {
    background-position: 20%;
  }

  @include respond(lg) {
    background-position: top;
    max-height: 45dvh;
  }

  @include respond(sm) {
    padding: 1rem;
  }
}

.header {
  @include overlay-content;
  width: fit-content;

  @include flex-row(1.375rem, start, center);

  @include respond(sm) {
    gap: 1rem;
  }
}

.title {
  font-weight: $font-weight-semibold;
  line-height: $line-height-base;
  font-size: $h4-font-size;

  @include respond(sm) {
    font-size: $h5-font-size;
  }
}

.subtitle {
  @include bottom-overlay(1.875rem);
  width: 100%;
  max-width: 33rem;
  line-height: $line-height-base;
  font-weight: $font-weight-bold;
  color: $neutral-0;
  font-size: $h5-font-size;

  @include respond(md) {
    font-size: $h6-font-size;
  }

  @include respond(sm) {
    font-size: $subtitle-font-size;
  }
}
