@use '@/shared/styles/tokens' as *;
@use '@/shared/styles/mixins' as *;

.banner {
  position: relative;
  overflow: hidden;
  height: calc(100dvh - 3rem);

  background: {
    image: url('/images/login/images/primary-banner.svg');
    size: cover;
    position: right;
    repeat: no-repeat;
  }

  border-radius: 1.875rem;
  padding: 1.875rem;

  &::after {
    @include overlay(1.875rem, $gradient-overlay-primary);
    z-index: 0;
  }

  > * {
    @include overlay-content;
  }

  @include respond(xl) {
    background-position: 20%;
  }

  @include respond(lg) {
    background-position: top;
    max-height: 45dvh;
  }

  @include respond(sm) {
    padding: 1rem;
  }
}

.header {
  @include overlay-content;
  width: fit-content;

  @include flex-row(1.375rem, start, center);

  @include respond(sm) {
    gap: 1rem;
  }
}

.title {
  font-weight: $font-weight-semibold;
  line-height: 150%;
  font-size: $font-size-h4;

  @include respond(sm) {
    font-size: $font-size-h5;
  }
}

.subtitle {
  @include bottom-overlay(1.875rem);
  width: 100%;
  max-width: 33rem;
  line-height: 150%;
  font-weight: $font-weight-bold;
  color: $neutral-0;
  font-size: $font-size-h5;

  @include respond(md) {
    font-size: $font-size-h6;
  }

  @include respond(sm) {
    font-size: $font-size-subtitle;
  }
}
