@use '@/shared/styles' as *;

.button {
  gap: 0.625rem;
  line-height: 150%;
  font-family: inherit;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;

  @include button-disabled;
}

.default {
  background: $primary-700;
  color: $text-inverse;
  @include button-interaction($primary-800);
}

.outline {
  color: $primary-700;
  background: none;

  @include button-outline($primary-700, none, null);

  &:hover {
    background: $surface-secondary;
  }
}

.soft {
  background: $primary-50;
  color: $primary-700;

  @include button-outline($primary-700, none, null);
}

.tertiary {
  @include button-link;
}

.transparent {
  background: transparent;

  &:hover {
    background: transparent;
  }
}

.circle {
  border-radius: 50%;
}

.circle.sm {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  background: transparent;
}

.rounded {
  border-radius: 1.875rem;
}

.sm {
  padding: $space-2 $space-7;
  font-size: $body-sm-font-size;
}

.md {
  padding: $space-3 $space-7;
  font-size: $body-md-font-size;
}

.lg {
  padding-inline: $space-7;
  padding-block: 0.875rem 0.813rem;
  font-size: $body-lg-font-size;
}

.fullWidth {
  width: 100%;
}

.startIcon,
.endIcon {
  @include flex-center;
}

.maxWidth_xs {
  max-width: 6.688rem;
}

.maxWidth_sm {
  max-width: 7.75rem;
}

.maxWidth_md {
  max-width: 8.188rem;
}

.maxWidth_lg {
  max-width: 11.563rem;
}

.maxWidth_xl {
  max-width: 13.5rem;
}

.fontWeight_regular {
  font-weight: $font-weight-regular;
}

.fontWeight_medium {
  font-weight: $font-weight-medium;
}

.fontWeight_bold {
  font-weight: $font-weight-bold;
}

.fontWeight_semibold {
  font-weight: $font-weight-semibold;
}

.fontWeight_extrabold {
  font-weight: $font-weight-extrabold;
}
