@use '@/shared/styles' as s;

.loginWrapper {
  @include s.flex-col(0, space-between);
  height: 100%;
}

.loginContent {
  @include s.flex-col(2.813rem);
  padding-block-start: 2.625rem;

  @include s.respond(tablet) {
    padding-block-start: 0;
    gap: 2rem;
  }
}

.loginForm {
  @include s.flex-col(1.5rem);
}

.loginFormMainWrapper {
  @include s.flex-col(3.625rem);

  @include s.respond(tablet) {
    gap: 1.5rem;
  }
}

.loginFormMain {
  @include s.flex-row(0, space-between, center);
}

.loginFormLink {
  line-height: 150%;
  color: s.$color-color-black-1200;

  @include s.respond(mobile-lg) {
    font-size: s.$size-font-size-body-sm;
  }
}

.button {
  width: 100%;
  max-width: 8.188rem;
}
