@use '@/shared/styles' as *;

.wrapper {
  @include widget-box(100%, 57.813rem, 100%, $padding: 0.5rem);
  @include flex-col(1.5rem, space-between, stretch, column);

  @include respond(lg) {
    max-width: 100%;
  }
}

.header {
  width: 100%;
  background: $bg-brand-subtle;
  border-radius: $radius-md;
  padding: 0.688rem 0 0.625rem 0.813rem;
}

.title {
  @include title-bold(
    $font-weight-semibold,
    $body-lg-font-size,
    $text-secondary
  );
}

.form {
  @include flex-col(1.5rem, start, stretch, column);
  padding-inline: 1.375rem;
  padding-block-end: 1.875rem;

  @include respond(sm) {
    padding-inline: 1rem;
  }
}

.row {
  width: 100%;
  @include flex(flex, row, start, start, 1.5rem);

  @include respond(sm) {
    @include flex-col(1.5rem, start, stretch, column);
  }
}
