@use '@/shared/styles' as *;

.icon {
  @include flex-row(0, center, center);
}

.circle {
  border-radius: $radius-full;
}

.fallback {
  font: {
    size: $subtitle-font-size;
    weight: $font-weight-medium;
  }

  color: $primary-400;
}
