@use '@/shared/styles' as *;

.wrapper {
  width: 100%;
  padding: 0.5rem;
  background: $color-white;
  box-shadow: $shadow-elevation-2;
  border-radius: 1rem;
  @include table-scroll;
  @include hide-scrollbar;
}

.table {
  width: 100%;
  min-width: 96.25rem;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

.head {
  .row {
    width: 100%;
  }

  .heading {
    background: $color-black-200;
    @include table-cell(0.563rem 1rem);

    &:first-child {
      border-radius: 0.75rem 0 0 0.75rem;
    }

    &:last-child {
      border-radius: 0 0.75rem 0.75rem 0;
    }
  }
}

.heading {
  color: $color-black-1200;
  font-weight: $font-weight-semibold;
}

.cell {
  @include table-cell(0.563rem 1.813rem);
}

.bodyRow {
  td {
    @include table-cell(1rem);
    border-bottom: 0.094rem solid $color-black-300;
  }

  &:last-child td {
    border-bottom: none;
  }
}

.calendarCell {
  white-space: nowrap;

  svg {
    vertical-align: -0.19rem;
    margin-right: 0.4rem;
  }
}

td,
th {
  &:nth-child(1) {
    @include table-col(8%, 11.813rem);
  }
  &:nth-child(2) {
    @include table-col(10%, 8.313rem);
  }
  &:nth-child(3) {
    @include table-col(8%, 11.5rem);
  }
  &:nth-child(4) {
    @include table-col(5%, 4.875rem);
  }
  &:nth-child(5) {
    @include table-col(8%, 6.875rem);
  }
  &:nth-child(6) {
    @include table-col(5%, 4.063rem);
  }
  &:nth-child(7) {
    @include table-col(6%, 5.938rem);
  }
  &:nth-child(8) {
    @include table-col(4%, 5.25rem);
  }
}
