@use '@/shared/styles/tokens/colors' as color;
@use '@/shared/styles/tokens/typography' as size;
@use '@/shared/styles/tokens/spacing' as spacing;
@use '@/shared/styles/tokens/flex' as *;
@use '@/shared/styles/tokens/mixins' as *;

.layout {
  min-height: 100dvh;
  @include bounding_container(spacing.$space-10);

  @include respond(tablet) {
    padding: 1rem;
  }
}

.grid {
  display: grid;
  gap: 3.5rem;

  @include respond(laptop) {
    grid-template-columns: 1fr;
  }

  @include respond(mobile-lg) {
    gap: 2rem;
  }
}

.banner,
.form {
  @include respond(laptop) {
    grid-column: span 1;
  }
}

/* Auth Header */

.header {
  width: 100%;
  @include flex-col(0.375rem);
}

.title {
  font-weight: size.$font-weight-semibold;
  font-size: size.$font-size-h4;
}

.subtitle {
  font-size: size.$font-size-body-md;
  color: color.$color-black-800;
}

.highlight {
  color: color.$color-decoration-text;
}

/* Auth Footer */

.footer {
  @include flex-row(0.313rem, center, center);
  margin-block-end: 1rem;

  @include respond(mobile-lg) {
    margin-block-start: 1.5rem;
    gap: 0.5rem;
  }
}

.text,
.link {
  font-size: size.$font-size-body-sm;
}
