@use '@/shared/styles' as *;

.input {
  width: 100%;
  padding-block: $space-4;
  padding-inline: $space-9 $space-4;
  border: none;
  outline: none;
  background: transparent;
  line-height: 150%;
  border-radius: 1rem;
  font-size: $body-md-font-size;

  @include respond(sm) {
    font-size: $body-sm-font-size;
  }
}

.withIcon {
  padding-inline-start: 3.5rem;
}
