@use '@/shared/styles' as *;

.input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  line-height: 150%;
  border-radius: 1rem;
  font-size: $body-md-font-size;
  caret-color: $text-secondary;
  color: $text-secondary;

  @include respond(sm) {
    font-size: $body-sm-font-size;
  }
}
