@use '@/shared/styles' as s;

.input {
  width: 100%;
  padding-block: s.$spacing-space-6;
  padding-inline-end: 0;
  padding-inline-start: s.$spacing-space-13;
  border: none;
  outline: none;
  background: transparent;
  line-height: 150%;
}

.withIcon {
  padding-inline-start: 3.5rem;
}
