@use '@/shared/styles' as *;

.tableContainer {
  width: 100%;
  padding-inline: $space-4;
  @include table-scroll;
  @include hide-scrollbar;
}

.table {
  width: 100%;
  min-width: 62.438rem;
  border-collapse: separate;
  table-layout: fixed;
  border-spacing: 0;
}

.thead {
  text-align: left;
}

.headCell {
  line-height: $line-height-base;
  font-weight: $font-weight-semibold;
}

.cell > svg {
  vertical-align: middle;
  margin-inline-end: 0.5rem;
}

/* Table Sizes */

.headCell.sizeSm {
  padding: 0.563rem 0.875rem;
}

.cell.sizeSm {
  padding-inline: 0.5rem;
  padding-block: 1rem 1.125rem;
}

.headCell.sizeMd {
  padding: 0.75rem 1rem;
}

// .cell.sizeMd {
// }

.headCell.sizeLg {
  padding: 1rem 1.25rem;
}

// .cell.sizeLg {
// }

/* Table Variants */

.tableContainer .variantDefault {
  width: 100%;
  padding: $space-3;
  border: 0.094rem solid $neutral-300;
  border-radius: $radius-lg;
  background: $neutral-0;
}

.variantDefault {
  background: $neutral-0;

  .row:not(:last-child) .cell {
    border-bottom: 0.094rem solid $neutral-200;
  }

  .headCell {
    background: $neutral-100;

    &:first-child {
      padding-left: 1.125rem;
      border-top-left-radius: $radius-md;
      border-bottom-left-radius: $radius-md;
    }

    &:last-child {
      padding-right: 1.125rem;
      border-top-right-radius: $radius-md;
      border-bottom-right-radius: $radius-md;
    }
  }

  .cell {
    font-weight: $font-weight-medium;
  }
}
