@use '@/shared/styles' as *;

.header {
  position: sticky;
  top: 0;
  z-index: $z-sticky;
  width: 100%;
  border-bottom: 0.094rem solid $neutral-100;
  box-shadow: $shadow-xs;
  background: $neutral-0;
  grid-area: header;
}

.wrapper {
  width: 100%;
  @include flex(flex, row, start, center);
  padding: 1.125rem 1rem;

  @include respond(lg) {
    gap: 2rem;
  }

  @include respond(md) {
    padding-inline: 1rem;
  }
}

.headerLeftSide {
  width: 100%;
  max-width: 18.125rem;
  @include flex-row(0.813rem, start, center);

  @include respond(lg) {
    display: none;
  }
}

.logoTitle {
  color: $neutral-950;
  line-height: 150%;
  font: {
    weight: $font-weight-semibold;
    size: $body-md-line-height;
  }
}

.headerRightSide {
  @include container(header-rightSide);
  width: 100%;
  @include flex(flex, row, space-between, center, 0, nowrap);
  padding-inline: 0.875rem;

  @include respond(md) {
    padding-inline: 0;
  }
}

.title {
  @include fluid-type(1rem, calc(1rem + 1.2cqw), $subtitle-line-height);
  font: {
    weight: $font-weight-bold;
  }
  line-height: 150%;
}

.button {
  position: relative;

  &::after {
    @include button-background-overlay('', absolute, 0, $primary-700, 0.05, inherit, none);
  }
}

.endIcon {
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  top: 2px;
  right: 1.5px;

  transform: translate(25%, -40%);
}

.headerAuth {
  @include flex-center;
  gap: $space-5;

  @include respond(sm) {
    gap: $space-2;
  }
}

/* Styles Mock: [Temporary mock these styles] */
.avatar {
  @include flex-center;
  width: 3rem;
  height: 3rem;
  background: $primary-200;
  color: $neutral-0;
  border-radius: 100%;
}
