@use '@/shared/styles' as s;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;

  width: 100%;
  border-radius: 1.875rem;
  font-family: inherit;
  font-weight: s.$size-font-weight-semibold;

  border: none;
  cursor: pointer;
  background: transparent;

  transition: all 0.2s ease;

  @include s.button-disabled;
}

.default {
  background: s.$color-color-primary-800;
  color: s.$color-color-black-100;

  @include s.button-interaction(s.$color-color-primary-1100);
}

.outline {
  color: s.$color-color-primary-800;

  @include s.button-outline(s.$color-color-primary-800, none, null);
}

.soft {
  background: s.$color-color-primary-100;
  color: s.$color-color-primary-800;

  @include s.button-outline(s.$color-color-primary-800, none, null);
}

.tertiary {
  @include s.button-link;
}

.circle {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  background: none;
  border-radius: 50%;
}

.compact {
  padding: 0;
  min-height: unset;
  font-size: inherit;

  &:hover {
    background: none;
  }
}

.sm {
  padding: s.$spacing-space-2 s.$spacing-space-7;
  font-size: s.$size-font-size-body-sm;
}

.md {
  padding: s.$spacing-space-3 s.$spacing-space-7;
  font-size: s.$size-font-size-body-md;
}

.lg {
  padding: s.$spacing-space-4 s.$spacing-space-7;
  font-size: s.$size-font-size-body-lg;
}

.iconWrapper {
  position: relative;
  display: inline-flex;
}

.startIcon,
.endIcon {
  @include s.flex-center;
}
