@use '@/shared/styles/tokens/typography' as size;
@use '@/shared/styles/tokens/colors' as color;
@use '@/shared/styles/tokens/spacing' as spacing;
@use '@/shared/styles/tokens/flex' as *;
@use '@/shared/styles/tokens/mixins' as *;

.button {
  border-radius: 1.875rem;
  font-weight: size.$font-weight-semibold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;

  @include button-disabled();
}

.primary {
  background: color.$color-primary-800;
  color: color.$color-black-100;

  @include button-interaction(color.$color-primary-1100);
}

.outline {
  color: color.$color-primary-800;

  @include button-outline(color.$color-primary-800, none, color.$color-primary-1100);
}

.soft {
  background: color.$color-primary-100;
  color: color.$color-primary-800;

  @include button-outline(color.$color-primary-800, none, color.$color-primary-1100);
}

.tertiary {
  @include button-link;
}

.circle {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  background: color.$color-primary-800;
  border-radius: 50%;
}

.none {
  background: none;
  padding: 0;
  min-height: unset;
  font-size: inherit;

  &:hover {
    background: none;
  }
}

.sm {
  padding: spacing.$space-2 spacing.$space-7;
  min-height: 2.5rem;
  font-size: size.$font-size-body-sm;
}

.md {
  max-width: 8.188rem;
  padding: spacing.$space-3 spacing.$space-7;
  min-height: 2.75rem;
  font-size: size.$font-size-body-md;
}

.lg {
  padding: spacing.$space-4 spacing.$space-7;
  min-height: 3.375rem;
  font-size: size.$font-size-body-lg;
}

.iconWrapper {
  position: relative;
  display: inline-flex;
}

.startIcon,
.endIcon {
  @include flex-center;
}
