@use '@shared/styles' as *;

.textarea {
  width: 100%;
  max-width: 100%;
  border: 0.094rem solid $color-black-400;
  border-radius: 1rem;
  min-height: 8rem;
  padding: 1rem 1.125rem;
  caret-color: $color-black-700;
  color: $color-black-700;
  resize: none;

  &::placeholder {
    color: $color-black-700;
  }

  &:focus {
    outline: none;
    border-color: $color-black-400;
  }
}

.reasonLabel {
  line-height: 150%;
  font-size: $font-size-body-sm;
  color: $color-black-800;
}

.actions {
  @include flex-center;
  gap: 1.25rem;
}

.cancel,
.save {
  border-radius: 1.875rem;
  max-width: 8.813rem;
  min-height: 3.375rem;
  font-weight: $font-weight-semibold;
}
