@use '@/shared/styles/tokens' as *;
@use '@/shared/styles/mixins' as *;

.layout {
  min-height: 100dvh;
  @include flex-center;
  padding: 2rem;

  @include respond(lg) {
    padding: 1rem;
  }
}

.container {
  @include bounding-container;
  place-items: center;
  min-height: 90dvh;
  background: $neutral-0;
  border-top: 3px solid $primary-700;
  box-shadow: $shadow-not-found;
  border-radius: 1.875rem;

  @include respond(lg) {
    @include flex-col(3rem, center, center);
  }
}

.errorBlock {
  @include flex-col(2rem, center, stretch);
}
