@use '@/shared/styles' as s;

.header {
  width: 100%;
  border-bottom: 0.094rem solid s.$color-black-200;
  box-shadow: s.$shadow-elevation-1;
  grid-area: header;
}

.wrapper {
  width: 100%;
  @include s.flex(flex, row, start, center);
  padding: 1.125rem 1rem;

  @include s.respond(laptop) {
    gap: 2rem;
  }

  @include s.respond(tablet) {
    padding-inline: 1rem;
  }
}

.headerLeftSide {
  width: 100%;
  max-width: 18.125rem;
  @include s.flex-row(0.813rem, start, center);

  @include s.respond(laptop) {
    max-width: fit-content;
  }

  @include s.respond(tablet) {
    display: none;
  }
}

.logoTitle {
  color: s.$color-black-1200;
  line-height: 150%;
  font: {
    weight: s.$font-weight-semibold;
    size: s.$line-height-body-md;
  }
}

.headerRightSide {
  width: 100%;
  @include s.flex(flex, row, space-between, center, 0, nowrap);
  padding-inline: 0.875rem;

  @include s.respond(tablet) {
    padding-inline: 0;
  }
}

.title {
  font: {
    size: s.$font-size-h6;
    weight: s.$font-weight-bold;
  }
  line-height: 150%;
}

.button {
  position: relative;

  &::after {
    @include s.button-background-overlay(
      '',
      absolute,
      0,
      s.$color-primary-800,
      0.05,
      inherit,
      none
    );
  }
}

.endIcon {
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  top: 0;
  right: 0;

  transform: translate(25%, -40%);
}

.headerAuth {
  @include s.flex-center;
  gap: s.$space-9;
}

/* Styles Mock: [Temporary mock these styles] */
.avatar {
  @include s.flex-center;
  width: 3rem;
  height: 3rem;
  background: s.$color-primary-300;
  color: s.$color-white;
  border-radius: 100%;
}
