@use '@/shared/styles' as *;

.loader {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.188rem solid currentColor;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.75s linear infinite;
}
