@use '@/shared/styles/tokens' as *;
@use '@/shared/styles/mixins' as *;

.card {
  @include flex-col(0, start, stretch);
}

.label {
  font: {
    weight: $font-weight-semibold;
    size: $font-size-body-lg;
  }

  color: $neutral-700;
  min-height: 2.125rem;
}

.cardMain {
  width: fit-content;
  @include flex-col(0, start, stretch);
}

.value {
  font: {
    weight: $font-weight-bold;
    size: $line-height-body-md;
  }

  line-height: 150%;
}

.cardFooter {
  @include flex-row(0.375rem, start, center);
}

.name {
  color: $neutral-700;
  font-size: $font-size-body-sm;
  line-height: 150%;
}

.trend {
  @include flex-center;
  border-radius: 0.625rem;
  padding: 0.125rem 0.438rem;
  font-size: $font-size-caption-lg;
}

.success {
  @include trend-state(0.025rem solid $success-700, $success-100, $success-700);
}

.error {
  @include trend-state(0.025rem solid $error-700, $error-100, $error-700);
}
