@use '@/shared/styles' as s;

.overlay {
  position: fixed;
  inset: 0;
  z-index: s.$z-index-modal;
  background: s.$color-color-modal-overlay;
}

.modal {
  width: 100vw;
  min-height: 100dvh;
  @include s.flex-center;
}

.content {
  padding: 2.5rem;
  border: {
    top: 0.188rem solid s.$color-color-primary-800;
    radius: 0.75rem;
  }
  width: 100%;
  max-width: 35.313rem;
  min-height: 24.813rem;
  background: s.$color-color-white;
  box-shadow: s.$shadow-shadow-not-found;
}

.header {
  @include s.flex(flex, row, space-between, center, 0);
}

.title {
  line-height: 150%;
  font: {
    weight: s.$size-font-weight-extrabold;
    size: s.$size-line-height-body-md;
  }
}

.button {
  width: 1.625rem;
  height: 1.625rem;
}
