@use '@/shared/styles' as *;

.item {
  @include flex-row($space-3);

  padding: 0.813rem 0.5rem 0.875rem 0.75rem;
  border: 0.125rem solid transparent;

  color: $neutral-700;
  min-width: 0;
  cursor: pointer;

  @include smooth-transitions(
    padding 250ms ease,
    justify-content 250ms ease,
    border-color 250ms ease,
    color 250ms ease
  );

  svg {
    flex-shrink: 0;
  }
}

.collapsed {
  justify-content: center;
  padding-inline: 0.5rem;

  .label {
    display: none;
  }
}

.label {
  display: block;

  width: 100%;
  min-width: 0;

  font-size: $body-lg-font-size;
  font-weight: $font-weight-regular;
  color: inherit;

  opacity: 1;
  transform: translateX(0);

  @include smooth-transitions(
    width 300ms ease,
    max-width 300ms ease,
    opacity 180ms ease,
    transform 250ms ease
  );
}

.active {
  position: relative;

  border: 0.125rem solid $primary-700;
  color: $primary-700;
  border-radius: $radius-sm;

  transition:
    border-color 250ms ease,
    color 250ms ease;

  .label {
    font-weight: $font-weight-semibold;
  }

  &::after {
    @include button-background-overlay('', absolute, 0, $primary-700, 0.05, inherit, none);
  }

  &::before {
    opacity: 1;

    @include smooth-transitions(opacity 200ms ease, transform 200ms ease);
  }

  &::before {
    @include text-before-decoration(
      '',
      absolute,
      0,
      0.125rem,
      1.75rem,
      0 0.5rem 0.5rem 0,
      $primary-700
    );
  }
}
