$primary-50: #dfe2f5;
$primary-100: #bdc5ef;
$primary-200: #9aaae8;
$primary-300: #879ce5;
$primary-400: #748fe1;
$primary-500: #5e82de;
$primary-600: #4c75d3;
$primary-700: #4165b7;
$primary-800: #3b5da9;
$primary-900: #335195;
$primary-950: #1e305a;

$secondary-50: #b1dde2;
$secondary-100: #7fd7e0;
$secondary-200: #80dae4;
$secondary-300: #7ad5df;
$secondary-400: #6fc7d1;
$secondary-500: #67bac3;
$secondary-600: #5eaab2;
$secondary-700: #559ca4;
$secondary-800: #4d8e95;
$secondary-900: #458187;
$secondary-950: #1a3538;

$neutral-0: #ffffff;
$neutral-50: #fafafa;
$neutral-100: #f5f5f5;
$neutral-200: #e3e3e3;
$neutral-300: #b9b9b9;
$neutral-400: #919191;
$neutral-500: #848484;
$neutral-600: #6a6a6a;
$neutral-700: #525252;
$neutral-800: #474747;
$neutral-900: #303030;
$neutral-950: #000000;

$warning-50: #fffbf2;
$warning-100: #fff6db;
$warning-200: #ffe6a1;
$warning-300: #fdd876;
$warning-400: #ffd050;
$warning-500: #ffc11c;
$warning-600: #dea50b;
$warning-700: #bb8900;
$warning-800: #997001;
$warning-900: #765700;
$warning-950: #553e00;

$success-50: #f6fef9;
$success-100: #ecfdf3;
$success-200: #d1fadf;
$success-300: #a6f4c5;
$success-400: #6ce9a6;
$success-500: #32d583;
$success-600: #12b76a;
$success-700: #039855;
$success-800: #027a48;
$success-900: #05603a;
$success-950: #053321;

$error-50: #fffbfa;
$error-100: #fef3f2;
$error-200: #fee4e2;
$error-300: #fecdca;
$error-400: #fda29b;
$error-500: #f97066;
$error-600: #f04438;
$error-700: #d92d20;
$error-800: #b42318;
$error-900: #912018;
$error-950: #55160c;

$text-primary: $neutral-900;
$text-secondary: $neutral-600;
$text-muted: $neutral-400;
$text-disabled: $neutral-500;
$text-inverse: $neutral-0;

$surface-primary: $neutral-0;
$surface-secondary: $neutral-50;
$surface-tertiary: $neutral-100;
$surface-disabled: $neutral-100;

$bg-brand-subtle: rgba($primary-700, 0.07);
$bg-brand-soft: rgba($primary-700, 0.1);

$border-subtle: $neutral-200;
$border-default: $neutral-300;
$border-strong: $neutral-400;
$border-focus: $primary-700;

$icon-primary: $neutral-800;
$icon-secondary: $neutral-600;
$icon-muted: $neutral-500;

$icon-brand: $primary-700;
$icon-danger: $error-600;

$overlay-primary: rgba($neutral-950, 0.22);
$gradient-brand: linear-gradient(114deg, #4165b7 0%, #67bac3 56.17%);

$gradient-overlay-primary: linear-gradient(
  360deg,
  rgba(65, 101, 183, 0.73) 0%,
  rgba(65, 101, 183, 0) 50%,
  rgba(255, 255, 255, 0) 100%
);

$gradient-overlay-secondary: linear-gradient(
  360deg,
  rgba(255, 255, 255, 0) 0%,
  rgba(65, 101, 183, 0.11) 100%
);

$color-gradient-blue: rgba(65, 101, 183, 0.21);
$color-overlay-white: rgba(255, 255, 255, 0.6);

$gradient-skeleton: linear-gradient(90deg, #eee 25%, #f5f5f5 50%, #eee 75%);

$pdf-icon: #e5252a;
