/* Spaces */

$space-1: 0.25rem; // 4px
$space-2: 0.5rem; // 8px
$space-3: 0.625rem; // 10px
$space-4: 0.75rem; // 12px
$space-5: 0.875rem; //14px
$space-6: 1rem; // 16px
$space-7: 1.25rem; // 20px
$space-8: 1.5rem; // 24px
$space-9: 2rem; // 32px
$space-10: 2.5rem; // 40px
$space-11: 3rem; // 48px
