/* Font weights */

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

/* Headings */

$font-size-h1: 3.375rem; // 54px
$line-height-h1: 5.0625rem; // 81px

$font-size-h2: 3.125rem; // 50px
$line-height-h2: 4.6875rem; // 75px

$font-size-h3: 2.5rem; // 40px
$line-height-h3: 3.75rem; // 60px

$font-size-h4: 2.25rem; // 36px
$line-height-h4: 3.375rem; // 54px

$font-size-h5: 1.875rem; // 30px
$line-height-h5: 2.8125rem; // 45px

$font-size-h6: 1.5rem; // 24px
$line-height-h6: 2.25rem; // 36px

/* Subtitles */

$font-size-subtitle: 1.25rem; // 20px
$line-height-subtitle: 1.875rem; // 30px

/* Body text */

$font-size-body-lg: 1.125rem; // 18px
$line-height-body-lg: 1.6875rem; // 27px

$font-size-body-md: 1rem; // 16px
$line-height-body-md: 1.5rem; // 24px

$font-size-body-sm: 0.875rem; // 14px
$line-height-body-sm: 1.3125rem; // 21px

/* Caption */

$font-size-caption-lg: 0.8125rem; // 13px
$line-height-caption-lg: 1.25rem; // 20px

$font-size-caption-md: 0.75rem; // 12px
$line-height-caption-md: 1.125rem; // 18px
