$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

$h1-font-size: 3.375rem;
$h1-line-height: 5.0625rem;

$h2-font-size: 3.125rem;
$h2-line-height: 4.6875rem;

$h3-font-size: 2.5rem;
$h3-line-height: 3.75rem;

$h4-font-size: 2.25rem;
$h4-line-height: 3.375rem;

$h5-font-size: 1.875rem;
$h5-line-height: 2.8125rem;

$h6-font-size: 1.5rem;
$h6-line-height: 2.25rem;

$subtitle-font-size: 1.25rem;
$subtitle-line-height: 1.875rem;

$body-lg-font-size: 1.125rem;
$body-lg-line-height: 1.6875rem;

$body-md-font-size: 1rem;
$body-md-line-height: 1.5rem;

$body-sm-font-size: 0.875rem;
$body-sm-line-height: 1.3125rem;

$caption-lg-font-size: 0.8125rem;
$caption-lg-line-height: 1.25rem;

$caption-md-font-size: 0.75rem;
$caption-md-line-height: 1.125rem;
