@use '@/shared/styles' as *;

.scrollContainer {
  flex: 0 1 auto;
  width: auto;
  max-width: 100%;
  @include menu-horizontal-scroll;

  box-shadow: $shadow-not-found;
  background: $neutral-0;
  padding: 0.7rem 0.5rem;
  border-radius: 1rem;

  @include respond(xl) {
    order: 2;
    width: 100%;
    margin-top: 0.5rem;
  }
}

.list {
  @include flex-row(1rem, start, center);
  width: 100%;
  min-width: max-content;

  @include respond(xl) {
    max-width: 100%;
    justify-content: space-between;
  }
}

.box {
  @include flex-center;
  flex-shrink: 0;
  padding: 0.406rem 1.563rem;
  border-radius: 0.75rem;
  border: 0.125rem solid transparent;
  scroll-snap-align: start;
  scroll-snap-stop: always;

  @include respond(2xl) {
    padding-inline: 0.7rem;
  }
}

.label {
  color: $neutral-950;

  font: {
    weight: $font-weight-regular;
    size: $body-lg-font-size;
  }
}

.active {
  border-color: $primary-700;
  box-shadow: $shadow-not-found;
}

.activeLabel {
  font-weight: $font-weight-semibold;
  color: $primary-700;
}

.button {
  background: transparent;
}
