@use '@/shared/styles' as *;

.text {
  @include card-value;
  padding-block-end: 0.625rem;
}

.title {
  @include card-title;

  &::before {
    @include text-before-decoration(
      '',
      absolute,
      -1rem,
      0.25rem,
      1.125rem,
      0 0.5rem 0.5rem 0,
      $primary-700,
      true
    );
  }
}

.files {
  @include flex(flex, row, start, center, 1rem);

  @include respond(sm) {
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
  }
}
