@use '@/shared/styles' as *;

.menu {
  width: 100%;
  min-height: 100dvh;
  max-width: 16rem;
  border-right: 0.125rem solid $border-subtle;
}

.container {
  @include flex(flex, column, start, stretch, 1.5rem);
}

.title {
  padding: 1.25rem 1.25rem 0 1.25rem;
  color: $text-muted;
  line-height: $line-height-tight;
  font: {
    weight: $font-weight-bold;
    size: $body-sm-font-size;
  }
}

.list {
  @include flex(flex, column, start, stretch, 0.625rem);
}

.box {
  width: 100%;
  padding-inline-start: 1.25rem;
  @include flex(flex, row, start, center);
  min-height: 3.188rem;
}

.boxActive {
  @include active-left-bar($icon-brand, 3.188rem);
}

.item {
  width: 100%;
  max-width: 14.5rem;
  justify-content: flex-start;
  padding: 0;
}

.label {
  line-height: $line-height-base;
  font-size: $body-lg-font-size;
  color: $neutral-800;
}

.isActive {
  color: $icon-brand;
  font-weight: $font-weight-medium;
}
