@use '@/shared/styles' as *;

.header {
  width: 100%;
  @include flex-col(0.375rem, start, stretch, column);
}

.title {
  font-weight: $font-weight-semibold;
  font-size: $h4-font-size;
  line-height: 150%;
}

.subtitle {
  font-size: $body-md-font-size;
  color: $text-secondary;
}

.highlightedText {
  color: $icon-brand;
}
