@use "@/shared/styles/tokens/typography" as size;
@use "@/shared/styles/tokens/colors" as color;
@use "@/shared/styles/tokens/spacing" as spacing;
@use "@/shared/styles/tokens/flex" as *;
@use "@/shared/styles/tokens/mixins" as *;

.wrapper {
  @include flex(inline-flex, row, start, center, 0.625rem);
  cursor: pointer;
  user-select: none;

  @include respond(mobile-lg) {
    gap: 0.5rem;
  }
}

.input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.box {
  @include flex(flex, row, center, center);
  position: relative;
  width: size.$line-height-body-md;
  height: size.$line-height-body-md;
  border-radius: 0.375rem;
  border: 0.125rem solid color.$color-black-400;

  transition:
    background 0.35s ease-in-out,
    border-color 0.35s ease-in-out;
}

@include checkbox-checked(
  color.$color-primary-700,
  color.$color-primary-700,
  color.$color-primary-800,
  color.$color-primary-800
);

.checkIcon {
  color: color.$color-white;
  opacity: 0;
  transition:
    opacity 0.35s ease-in-out,
    transform 0.35s ease-in-out;
}

.input:checked + .box .checkIcon {
  opacity: 1;
  transform: scale(1);
}

.label {
  line-height: 150%;
  color: color.$color-black-1200;

  @include respond(mobile-lg) {
    font-size: size.$font-size-body-sm;
  }
}
